.gambar {
    width: 100%;
}

.kolom {
    padding-right: 0px;
}

.image-1 {
    background-image: url(images/Pencaboy/Login-Penca-min.png);
}

@media (min-width: 992px) {
    .gambar {
        width: 550px;
        height: 8px;
    }

    .kolom {
        padding-right: 59px;
    }
}